.details{
    margin-left: 17%;
    margin-top: 10px;
}
.sign-out:hover{
    cursor: pointer;
  }

  .navbar{
    justify-content: space-between;
  }
  span{
    padding-right: 1rem;
    
  }
  span a{
    color:aliceblue;
    text-decoration: none;
    font-size:medium;
  }
  span a:hover{
    color: rgb(219, 200, 200);
  
  }