<form (ngSubmit)="onSubmit()" class="center">
    <p class="title">Change Password</p>
    <div class="form-group">
        <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput type="number" name="id" ngModel [(ngModel)]="id">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password" name="password" #pass="ngModel" ngModel [(ngModel)]="password">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>ConfirmPassword</mat-label>
            <input matInput type="password" name="newPassword" required #pass="ngModel" [class.text-danger]="toggle"
                ngModel [(ngModel)]="newPassword">
        </mat-form-field>
        <div *ngIf="toggle">
            <small class="text-danger">password dos'nt match</small>
        </div>
    </div>

    <br>
    <div>
        <button mat-raised-button color="warn">Submit amount</button><br>
    </div>
</form>

<div class="center1">
    <button (click)="goBack()" mat-raised-button><mat-icon
            class="material-icons color_green icon-display">reply</mat-icon></button>
</div>