
  
<div >
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Account Number</th>
          <th>balance</th>
       
       
         
         
        </tr>
      </thead>
      <tbody>
        <tr   *ngFor="let x of accountList">
          <td>{{x.accountNumber}}</td>
          <td>{{x.balance}}</td>
          

 
         
         
        </tr>
      </tbody>

    </table>
</div>
<div class="center1">
  <button (click)="goBack()" mat-raised-button ><mat-icon class="material-icons color_green icon-display">reply</mat-icon></button>
  </div>